Repository Daltokki-develop/cakestation-be, pull requests merged in 2022-10, with the labels that each got.

#82 [feat] 가게 별 리뷰 이미지 전체 조회
  .github/workflows/build-test.yml
  src/main/java/com/cakestation/backend/review/controller/ReviewController.java
  src/main/java/com/cakestation/backend/review/controller/dto/response/ReviewImageResponse.java
  src/main/java/com/cakestation/backend/review/domain/Review.java
  src/main/java/com/cakestation/backend/review/service/ReviewService.java
  src/main/java/com/cakestation/backend/review/service/ReviewServiceImpl.java
  src/main/java/com/cakestation/backend/review/service/dto/ReviewDto.java
  src/main/java/com/cakestation/backend/review/service/dto/ReviewImageDto.java
  src/test/java/com/cakestation/backend/review/controller/ReviewControllerTest.java
  src/test/java/com/cakestation/backend/review/fixture/ReviewFixture.java
  src/test/java/com/cakestation/backend/review/service/ReviewServiceUnitTest.java
  src/test/resources/image/test.png
Labels: enhancement

#85 [feat] 리뷰 단일 조회 기능 구현 및 테스트
  src/main/java/com/cakestation/backend/review/controller/ReviewController.java
  src/main/java/com/cakestation/backend/review/service/ReviewService.java
  src/main/java/com/cakestation/backend/review/service/ReviewServiceImpl.java
  src/test/java/com/cakestation/backend/review/controller/ReviewControllerTest.java
  src/test/java/com/cakestation/backend/review/service/ReviewServiceUnitTest.java
Labels: enhancement

#86 [feat] 로그인 기능 완료
  src/main/java/com/cakestation/backend/common/Filter/Filter.java
  src/main/java/com/cakestation/backend/common/Filter/LoginFilter.java
  src/main/java/com/cakestation/backend/config/WebConfig.java
  src/main/java/com/cakestation/backend/user/controller/UserController.java
  src/main/java/com/cakestation/backend/user/service/KakaoService.java
  src/main/java/com/cakestation/backend/user/service/UtilService.java
Labels: enhancement

#88 [refactor] 가게 조회 정보 수정 및 리팩토링
  src/main/java/com/cakestation/backend/common/Filter/LoginFilter.java
  src/main/java/com/cakestation/backend/store/controller/StoreController.java
  src/main/java/com/cakestation/backend/store/domain/Store.java
  src/main/java/com/cakestation/backend/store/dto/request/CreateStoreDto.java
  src/main/java/com/cakestation/backend/store/dto/response/StoreResponse.java
  src/main/java/com/cakestation/backend/store/repository/StoreRepository.java
  src/main/java/com/cakestation/backend/store/service/StoreDto.java
  src/main/java/com/cakestation/backend/store/service/StoreService.java
  src/test/java/com/cakestation/backend/store/fixture/StoreFixture.java
  src/test/java/com/cakestation/backend/store/service/StoreServiceUnitTest.java
Labels: refactor

#93 [feat] 리뷰 별점순으로 정렬
  src/main/java/com/cakestation/backend/config/SecurityConfig.java
  src/main/java/com/cakestation/backend/config/WebConfig.java
  src/main/java/com/cakestation/backend/review/controller/ReviewController.java
  src/main/java/com/cakestation/backend/review/controller/dto/response/ReviewResponse.java
  src/main/java/com/cakestation/backend/review/service/dto/ReviewDto.java
Labels: enhancement

#96 [feat] 마이페이지 API 구현
  build.gradle
  src/main/java/com/cakestation/backend/config/JwtProperties.java
  src/main/java/com/cakestation/backend/config/SwaggerConfig.java
  src/main/java/com/cakestation/backend/mypage/controller/MyPageController.java
  src/main/java/com/cakestation/backend/mypage/service/MyPageService.java
  src/main/java/com/cakestation/backend/mypage/service/dto/MyPageDto.java
  src/main/java/com/cakestation/backend/review/controller/ReviewController.java
  src/main/java/com/cakestation/backend/review/repository/ReviewRepository.java
  src/main/java/com/cakestation/backend/review/service/ReviewService.java
  src/main/java/com/cakestation/backend/review/service/ReviewServiceImpl.java
  src/main/java/com/cakestation/backend/user/controller/UserController.java
  src/main/java/com/cakestation/backend/user/service/UtilService.java
  src/test/java/com/cakestation/backend/review/controller/ReviewControllerTest.java
  src/test/java/com/cakestation/backend/review/service/ReviewServiceUnitTest.java
Labels: enhancement

#101 [bug] 클라이언트에게 토큰 전달을 위한 ExposedHeader 추가
  src/main/java/com/cakestation/backend/config/SecurityConfig.java
  src/main/java/com/cakestation/backend/subway/domain/Subway.java
  src/main/java/com/cakestation/backend/user/domain/User.java
Labels: bug

#94 [release] API 배포
  build.gradle
  src/main/java/com/cakestation/backend/badge/service/dto/request/CreateBadgeDto.java
  src/main/java/com/cakestation/backend/common/Filter/LoginFilter.java
  src/main/java/com/cakestation/backend/common/handler/exception/EmailNotFoundException.java
  src/main/java/com/cakestation/backend/common/handler/exception/IdNotFoundException.java
  src/main/java/com/cakestation/backend/config/JwtProperties.java
  src/main/java/com/cakestation/backend/config/KakaoConfig.java
  src/main/java/com/cakestation/backend/config/SecurityConfig.java
  src/main/java/com/cakestation/backend/config/SwaggerConfig.java
  src/main/java/com/cakestation/backend/config/WebConfig.java
  src/main/java/com/cakestation/backend/mypage/controller/MyPageController.java
  src/main/java/com/cakestation/backend/mypage/service/MyPageService.java
  src/main/java/com/cakestation/backend/mypage/service/dto/MyPageDto.java
  src/main/java/com/cakestation/backend/review/controller/ReviewController.java
  src/main/java/com/cakestation/backend/review/controller/dto/response/ReviewResponse.java
  src/main/java/com/cakestation/backend/review/domain/Review.java
  src/main/java/com/cakestation/backend/review/repository/ReviewRepository.java
  src/main/java/com/cakestation/backend/review/service/ReviewService.java
  src/main/java/com/cakestation/backend/review/service/ReviewServiceImpl.java
  src/main/java/com/cakestation/backend/review/service/dto/ReviewDto.java
  src/main/java/com/cakestation/backend/store/controller/CakeStoreController.java
  src/main/java/com/cakestation/backend/store/controller/StoreController.java
  src/main/java/com/cakestation/backend/store/controller/dto/request/CreateCakeStoreRequest.java
  src/main/java/com/cakestation/backend/store/controller/dto/request/CreateStoreRequest.java
  src/main/java/com/cakestation/backend/store/controller/dto/response/CakeStoreResponse.java
  src/main/java/com/cakestation/backend/store/controller/dto/response/LikeStoreResponse.java
  src/main/java/com/cakestation/backend/store/domain/CakeStore.java
  src/main/java/com/cakestation/backend/store/domain/Menu.java
  src/main/java/com/cakestation/backend/store/domain/Store.java
  src/main/java/com/cakestation/backend/store/domain/User_Store.java
  src/main/java/com/cakestation/backend/store/dto/request/CreateStoreDto.java
  src/main/java/com/cakestation/backend/store/dto/response/StoreResponse.java
  src/main/java/com/cakestation/backend/store/repository/StoreRepository.java
  src/main/java/com/cakestation/backend/store/repository/User_StoreRepository.java
  src/main/java/com/cakestation/backend/store/service/CakeStoreService.java
  src/main/java/com/cakestation/backend/store/service/StoreDto.java
  src/main/java/com/cakestation/backend/store/service/StoreService.java
  src/main/java/com/cakestation/backend/store/service/dto/CakeStoreDto.java
  src/main/java/com/cakestation/backend/store/service/dto/CreateCakeStoreDto.java
  src/main/java/com/cakestation/backend/subway/domain/Subway.java
  src/main/java/com/cakestation/backend/user/controller/UserController.java
  src/main/java/com/cakestation/backend/user/domain/User.java
  src/main/java/com/cakestation/backend/user/service/KakaoService.java
  src/main/java/com/cakestation/backend/user/service/UtilService.java
  src/test/java/com/cakestation/backend/review/controller/ReviewControllerTest.java
  src/test/java/com/cakestation/backend/review/fixture/ReviewFixture.java
  src/test/java/com/cakestation/backend/review/service/ReviewServiceUnitTest.java
  src/test/java/com/cakestation/backend/store/controller/CakeStoreControllerTest.java
  src/test/java/com/cakestation/backend/store/fixture/StoreFixture.java
  src/test/java/com/cakestation/backend/store/service/StoreServiceUnitTest.java
Labels: release

#103 [feat] 마이페이지 랜덤 숫자 생성 및 테스트
  src/main/java/com/cakestation/backend/mypage/service/MyPageService.java
  src/main/java/com/cakestation/backend/mypage/service/dto/MyPageDto.java
  src/main/java/com/cakestation/backend/store/controller/CakeStoreController.java
  src/test/java/com/cakestation/backend/mypage/service/MyPageServiceTest.java
  src/test/java/com/cakestation/backend/review/fixture/ReviewFixture.java
  src/test/java/com/cakestation/backend/review/service/ReviewServiceUnitTest.java
Labels: enhancement
